<br> 
       
<div class="body_div">
    <div class="calender_div">
        <h1>Planification des entrainements</h1>

        <div class="container_button_workout">
            <button id="myBtn" class="create_workout_button button_create">Créer son entrainement</button>
        </div>
        
        <br>

        <div class="display_workout">
            Titre + date + heure
        </div>
        
        <br>

        <div class="container_button_workout">
            <button id="See_exercice" class="create_workout_button button_see">Voir les exercices</button>
            <button id="change_exercice" class="create_workout_button button_change">Modifier exercices</button>
        </div>
               
    </div>
    
    <br><br>

    <div class="work_div">
        <div class="work_yes">
            <h1>Séance faite</h1>

            <form action="/workout/deleteWorkout" method="post">

                <select name="supprimer" id="">
                
                    <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                        <option value="<%= i %>" name="supprimer"> <%= userData.workout.seances[i].name %> </option>
                    <% } %>
                </select>
                <button>Supprimer</button>
            </form>

            <form action="afterWorkout" method="POST">

                <select name="rpe" id="">
                
                    <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                        <% if(userData.workout.seances[i].done === false){ %>
                            <option value="<%= i %>" name=""> <%= userData.workout.seances[i].name %> </option>
                        <% } %>  
                    <% } %>
                </select>
<!-- 
                    <div class="done_none">
                        <input type="radio" class="yes work_done" name="done" id="yes" value="yes">
                        <label for="yes">Fait</label>
                        <input type="radio" class="little work_done" name="done" id="little" value="little">
                        <label for="little">Fait en partie</label>
                        <input type="radio" class="no work_done" name="done" id="no" value="no">
                        <label for="no">Non-fait</label>
                    </div>

                    <br><br><br><br> -->

                    <h3 id="See_intensity" class="intensity_title little_title">Difficulté de la séance</h3>

               
                    <br><br>


                    <div class="difficulty">
                            
                        <input type="radio" name="difficulty" class="dif dif_start" id="d0" value="0" required>
                        <label for="d0">0</label>

                        <input type="radio" name="difficulty" class="dif" id="d1" value="1">
                        <label for="d1">1</label>
                        
                        <input type="radio" name="difficulty" class="dif" id="d2" value="2">
                        <label for="d2">2</label>

                        <input type="radio" name="difficulty" class="dif" id="d3" value="3">
                        <label for="d3">3</label>

                        <input type="radio" name="difficulty" class="dif" id="d4" value="4">
                        <label for="d4">4</label>

                        <input type="radio" name="difficulty" class="dif" id="d5" value="5">
                        <label for="d5">5</label>

                        <input type="radio" name="difficulty" class="dif" id="d6"  value="6">
                        <label for="d6">6</label>

                        <input type="radio" name="difficulty" class="dif" id="d7" value="7">
                        <label for="d7">7</label>

                        <input type="radio" name="difficulty" class="dif" id="d8" value="8">
                        <label for="d8">8</label>

                        <input type="radio" name="difficulty" class="dif" id="d9" value="9">
                        <label for="d9">9</label>

                    </div>
                            
                    <br>

                    <div class="note_div" align=center>
                        <textarea name="test" id="" cols="30" rows="10">
                            
                        </textarea>
                    </div>


                    <button class="value_button">Valider</button>
            </form>          
        </div>
       
        <div class="work_no">
            <h1>Séances à venir</h1>

            <table>
                <% if(old){ %>
                    <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                        <tr>
                          <td class="test">Séance <%=i + 1%>:<%= userData.workout.seances[i].name %></td>
                        </tr>
                     <% } %>
                <% } else{ %> 
                    <p>Pas encore d'entrainement ?</p> 
                <% } %>
            </table>
        </div>

    </div>
    
    <br>

    <div class= "evolution">
        <h1>Evolution</h1>

    <table>        
        <% if(userBody){ %>
            <% for(var i=0; i < userData.health.height.length; i++) { %>
            <% let imc = userData.health.body[i]/((userData.health.height[i]/100)*(userData.health.height[i]/100))%>
                <tr>
                  <td class="test">Poids <%=userData.health.body[i]%> et taille <%= (userData.health.height[i])/100 %></td>
                  <td>Votre IMC: <%= (Math.round(imc*10))/10 %></td>
                </tr>
             <% } %>
        <% } else{ %> 
            <p>Entrez vos données !</p> 
        <% } %>
    </table>
   
        <form action="setIMC" method="POST">

            <input type="number" max="500" value="50" min="30" name="body" id="mass">
            <label for="mass">kg</label><br>

            <input type="number" max="250" value="100" min="60" name="height" id="height">
            <label for="height">cm</label>

            <button class="">Valider</button>

        </form>
    </div>
    
    <br><br><br>

    <div class="documentary">
        <h1>Documentation</h1>
    </div>
            
    <br>
    
</div>

<div id="myModal" class="training_modal">
    <%- include('../extern/newWorkout.ejs') %>
</div> 


<div id="mySecondModal" class="see_training_modal">
    <div class="modal_training_content">
        <span class="training_close">&times;</span>
        <h3>Liste des exercices qui existent</h3>
    </div>
</div>



 <div id="myThirdModal" class="table_intensity_modal">
    <%- include('../extern/intensityTable.ejs') %>
</div>

