<br> 
       
<div class="body_div">
    <div class="calender_div">
        <h1>Planification des entrainements</h1>

        <div class="container_button_workout">
            <button onclick="closeCreateDiv()" id="btnDraggable" class="">Créer son entrainement</button>
        </div>

        <div>
            <button>Modifier</button>
        </div>
        
        <br>

        <div class="container_button_workout">
            <button id="See_exercice" class="create_workout_button button_see">Voir les exercices</button>
            <button id="change_exercice" class="create_workout_button button_change">Modifier exercices</button>
        </div>

        <br><br>

        <form action="/workout/deleteWorkout" method="post">

            <select name="supprimer" id="">
            
                <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                    <option value="<%= i %>" name="supprimer"> <%= userData.workout.seances[i].name %> </option>
                <% } %>
            </select>
            <button class="exercice_delete">Supprimer</button>
        </form>
               
    </div>
    
    <br><br>

    <div class="work_div">
        <div class="work_yes">
            <h1>Séance faite</h1>



            <form action="afterWorkout" method="POST">

                <select name="rpe" id="">
                
                    <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                        <% if(userData.workout.seances[i].done === false){ %>
                            <option value="<%= i %>" name=""> <%= userData.workout.seances[i].name %> </option>
                        <% } %>  
                    <% } %>
                </select>
<!-- 
                    <div class="done_none">
                        <input type="radio" class="yes work_done" name="done" id="yes" value="yes">
                        <label for="yes">Fait</label>
                        <input type="radio" class="little work_done" name="done" id="little" value="little">
                        <label for="little">Fait en partie</label>
                        <input type="radio" class="no work_done" name="done" id="no" value="no">
                        <label for="no">Non-fait</label>
                    </div>

                    <br><br><br><br> -->

                    <h3 id="See_intensity" class="intensity_title little_title" onclick="intensity_div()">Difficulté de la séance</h3>

                    <div class="table_intensity_content wrap" id="table_intensity_content">
                        
                        <%- include('../extern/intensityTable.ejs') %>

                    </div>

                    <br><br>

                    <div class="difficulty">

                        <% for(var i=0; i < 10; i++) { %>
                            <input type="radio" name="difficulty" class="dif" id="d<%=i%>" value="<%=i%>" required>
                        <label for="d<%=i%>"><%=i%></label>
                        <% } %>
                        
                    </div>
                            
                    <br>

                    <div class="note_div" align=center>
                        <textarea name="test" id="" cols="30" rows="10">
                            
                        </textarea>
                    </div>

                    <br>
                    <button class="value_button">Valider</button>
            </form>          
        </div>
       
        <div class="work_no">
            <h1>Séances à venir</h1>

            <table>
                <% if(old){ %>
                    <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                        <tr>
                          <td class="test">Séance <%=i + 1%>:<%= userData.workout.seances[i].name %></td>
                        </tr>
                     <% } %>
                <% } else{ %> 
                    <p>Pas encore d'entrainement ?</p> 
                <% } %>
            </table>
        </div>

    </div>
    
    <br>

    <div class= "evolution">
        <h1>Evolution</h1>

    <table>        
        <% let len = userData.health.height.length - 1 %>
        <% if(userBody){ %>
            <% for(var i=0; i < userData.health.height.length; i++) { %>
            <% let imc = userData.health.body[i]/((userData.health.height[i]/100)*(userData.health.height[i]/100))%>
                <tr>
                  <td class="test">Poids <%=userData.health.body[i]%> et taille <%= (userData.health.height[i])/100 %></td>
                  <td>Votre IMC: <%= (Math.round(imc*10))/10 %></td>
                </tr>
             <% } %>
        <% } else{ %> 
            <p>Entrez vos données !</p> 
        <% } %>
    </table>
   
        <form action="setIMC" method="POST">

            <input type="number" max="500" value="<%=userData.health.body[len]%>" min="30" name="body" id="mass">
            <label for="mass">kg</label><br>

            <input type="number" max="250" value="<%=userData.health.height[len]%>" min="60" name="height" id="height">
            <label for="height">cm</label>

            <button class="">Valider</button>

        </form>

        <form action="/workout/deleteIMC" method="post">

            <select name="supprimerIMC" id="">
            
                <% for(var i=0; i < userData.health.body.length; i++) { %>
                    <option value="<%= i %>" name="supprimerIMC"> <%= userData.health.body[i] %>kg pour <%= userData.health.height[i] %></option>
                <% } %>
            </select>

            <button>Supprimer</button>

        </form>
    </div>
    
    <br><br><br>

    <div class="documentary">
        <h1>Documentation</h1>
    </div>
            
    <br>
    
</div>


<div id="mySecondModal" class="see_training_modal">
    <div class="modal_training_content">
        <span class="training_close">&times;</span>
        <h3>Liste des exercices qui existent</h3>
    </div>
</div>

<div id="myThirdModal" class="table_intensity_modal">
    <%- include('../extern/intensityTable.ejs') %>
</div>

<div id="wrapper" class="move_div wrapper">
    <%- include('../extern/newWorkout.ejs') %>
</div>

<div id="changeWorkout" class="changeWorkout">
    <%- include('../extern/changeWorkout.ejs') %>
</div>


