
<div class="top_group"><br><br>
    <a href="/home/home" style="margin-left: 10px; margin-top:40px; color: white; text-align: left; width: 2%;"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>
    <h1 class="seance_name" style="width: 98%; margin-right: 2%;"><%= groups.name%></h1><br>
</div>

<br><br>

<div class="button_seance">


    <a href="/home/leave?name=<%=groups.name%>" class="delete_group">Quitter le groupe</a>

<% groups.rights.rights.forEach(function(right) { %>
    
    <% if(right.pseudo === user.pseudo) { %>


        <% if (right.admin === true) { %>

            <a href="/home/changeStatus?name=<%=groups.name%>" class="change_status">
                <% if(groups.open === true) { %>
                    Public
                <% } else { %>
                    Privé
                <% } %>
            </a>

            <a href="/home/delete?name=<%=groups.name%>" class="delete_group">Détruire le groupe</a>

            
        <%}%>

</div>        

        <div style="border: 1px solid black;">
            
                <% groups.rights.rights.forEach(function(right) { %>
                    <p class="list_users"> <a href="/home/groupUser?pseudo=<%=right.pseudo%>&group=<%=groups.name%>"><%=right.pseudo%>
                        <% if (right.admin === true) { %>
                            (admin)
                        <% } %>
                    </a></p>
                <% }); %>
                         
        </div>

    <% } %>
<% }); %>




