<br>



<br><br><br>

<div class="informations_box">

        <div class="profil_box" >
            <br>
            <div class="hr_line">Utilisateur</div>
                <p><strong> Pseudo: </strong><%= user.pseudo %></p>
                <p><strong> Nom: </strong><%= user.name %></p>
                <p><strong> Prénom: </strong><%= user.firstname %></p>
                <p><strong> Adresse mail: </strong><%= user.email %></p>

                <% if(userBody){ %>
                    <% let i = userData.health.body.length - 1%>

                    <p><strong>Poids: </strong><%= userData.health.body[i] %>kg</p>
                    <p><strong>Taille: </strong><%= userData.health.height[i]/100 %> m</p>
                <% }  %>

        </div>

        <div class="disconnect_box">
            <form class="form" id="logout" action="/sign/logout" method="POST">
        
                <button class="disconnect">
                    <i class="fa-solid fa-power-off fa-2xl"></i>
                </button>
            
            </form>
        </div>


        <div class="password_box">
            <br>
            <form action="/profiles/changePassword" method="POST">
                <div class="hr_line">Changer le mot de passe</div>
                        <div class="changePWD">
                            <div class="form_message-error">
                                <% if(error){ %>
                                    <p><%= message %></p>
                                <% } else{ %>  
                                <% } %>
                            </div>
        
                            <input type="password" placeholder="Ancien mot de passe" name="old" id=""> <br>
                            <input type="password" placeholder="Nouveau mot de passe" name="new" id=""><br>
                            <input type="password" placeholder="Confirmer le nouveau mot de passe"  name="new2" id=""><br><br>
                            <button class="input_submit">Confirmer</button>
                        </div>
            </form>
        </div>
</div>
