<br><br><a href="/workout/training" style="margin-left: 5px;"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>

<h1 class="template_title">Nouveau template</h1>

<form action="/template/newTemplate" method="POST" class="content_template">

    <input type="text" name="name" required class="template_name" placeholder="Nom du template"><br>
    
    <button class="template_button">Valider</button>

</form>

<hr style="width: 80%;">

<div class="content_fields">
    <div class="form_fields">
        <form action="/template/newField" method="POST" class="form_newField">
            <div>
                <select name="field" class="dataField">
                
                    <% for(var i=0; i < dataFields.length; i++) { %>
            
                        <option value="<%=dataFields[i]%>"><%=dataFields[i] %></option>
            
                    <% } %>
            
                </select>
            </div>

           <div>
            <button class="button_dataField">Ajouter</button>
           </div>
        </form>
    </div>

    <div class="list_template">
        <% if (fields != null) { %>
            <p>Votre template contient: </p>
            <ul>
                <% for(var j=0; j < fields.length; j++) { %>
                    <li><%=fields[j]%></li>
                <% } %>
            </ul>
           
        <% } %>
    </div>
</div>

<div class="content_delete_template">
    <% if (template) { %>
        <% var b = Object.keys(userData.templates) %>
        <table>
            <% for(var k=0; k < b.length; k++) { %>
        
                <tr>
                    <td class="name_exercice"><%= b[k] %></td>
                    <td class="exerciceDelete"><a href="/template/deleteTemplate?template=<%=b[k]%>"><i name="test" class="fa-solid fa-trash-can trash delete"></i></a></td>
                </tr>
        
            <% } %>
        </table>
    <% } %>
    
</div>
