<br><br><a href="/workout/planWorkout?id=<%=id%>" style="margin-left: 5px;"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>

<h1>Nouveau templates</h1>

<%= fields %>
<form action="/template/newTemplate" method="POST">

    <input type="text" name="name" required> Nom: <br>
    

    <% if (fields != null) { %>
        <% for(var j=0; i < fields.length; j++) { %>
            <p><%=fields[j]%></p>
        <% } %>
    <% } %>
    

    <button>Valider</button>

</form>

<hr style="width: 80%;">

<form action="/template/newField" method="POST">

    <select name="field">
        
        <% for(var i=0; i < dataFields.length; i++) { %>

            <option value="<%=dataFields[i]%>"><%=dataFields[i] %></option>

        <% } %>

    </select>

    <button>Valider</button>

</form>

