
<form action="/workout/plus" method="POST">
    <% if(old){ %>
        <h1 class="title_workout">Modifier entrainement</h1>

        <form action="/workout/deleteJob" method="post">

            <select name="supprimer" id="">
            
                <% for(var i=0; i < userData.workout.seances[userData.workout.seances.length - 1].jobs.length; i++) { %>
                    <option value="<%= i %>" name="supprimer">Exercice <%= i%></option>
                <% } %>
            </select>
            <input type="submit" value="Supprimer" formaction="deleteJob">
            
        </form>

        <form action="/workout/addJob" method="post">

            <div class="select-box">

                <select name="exercice" id="">
                    <% for(var j=0; j < exMuscu.length; j++) { %>
                        <option value="<%=exMuscu[j]%>" name="category" id="<%=exMuscu[j]%>"><%=exMuscu[j]%></option>
                    <% } %>
                </select>
        
            </div>
        
            <div class="content_precision">
                <div class="exPart1">
                    Nombre de répétition:
                    <input type="number" name="repetition" id="" min="1" max="50" value="1" required><br>
        
                    Nombre de série:
                    <input type="number" name="serie" id="" min="1" max="10" value="1" required><br>
                </div>
        
                <div class="exPart2">
                    Temps de repos:
                    <input type="number" name="reposMin" id="" min="0" max="30" value="0" required> Minute
        
                    <input type="number" name="reposSec" id="" min="0" max="59" value="30" required> Seconde
                    <br><br>
                </div>  
            </div>

            <input type="submit" value="Ajouter" formaction="addJob">
            
        </form>


        <div class="intro_workout">
            <input type="text" name="training_name" id="training_name" placeholder="Nouveau nom de la séance" value="<%=userData.workout.seances[0].name%>" class="training_name" required><br>

            <input type="date" name="date" id="date" class="" value="<%=userData.workout.seances[0].date%>">
            
            <br><br>
        </div><br><br>

        <% for(var j=0; j < userData.workout.seances[userData.workout.seances.length - 1].jobs.length; j++) { %>
            <p><%= userData.workout.seances[userData.workout.seances.length - 1].jobs[j].exercice %></p>

        <% } %>

      
    <% } else{ %> 
        <p>Pas encore d'entrainement ?</p> 
    <% } %>



    

    <input type="submit" value="modifier" formaction="plus">
</form>
