<br>


<div class="workout_day_box">

    <div class="group_day_title">
        <p>Gestion des groupes</p>
    </div>


    <div class="group_content">


        <form action="/home/new" method="POST">

            <input type="text" placeholder="Nom du nouveau groupe" name="name" class="group_name">  
            <button class="group_new_button">Valider</button>
        
        </form>
        

        
        <% if(length) { %>        
        
            <form action="/home/add" method="POST">
    
                <input list="brow" name="name" placeholder="Nom du groupe recherché" autocomplete="off" class="group_name" style="margin-top: 5px;">
                <datalist id="brow">
                    <% groups.forEach(function(group) { %>
                        <option value="<%=group.name%>"><%=group.name%></option>
                    <% }); %>
                </datalist>  
            
                <button class="group_new_button">Rejoindre</button>
            
            </form>

        <%}%>
        
    </div>
</div>

<br><br>

<div class="workout_day_box">

    <div class="workout_day_title">
        <p>Séance à venir</p>
    </div>


    <div>

        <%if(old){ %>
            <ul class="list_home">
            <% var j = 0 %>
            <% var compteur = 1 %>
            <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                <% j = j + 1 %>
                <% if(userData.workout.seances[i].done === false) { %>
                    <li><a href="/workout/seance?id=<%=j%>&page=home" class="link_seance"><%= compteur %>: <%= userData.workout.seances[i].name %></a></li>
                    <% compteur = compteur + 1 %>
                <% } %>  
                    
             <% } %>
            </ul>
        <% } else{ %> 
            <p class="not_workout">Pas encore d'entrainement ?</p> 
        <% } %>
            

    </div>
</div>
<br><br>

<div class="workout_day_box">

    <div class="group_day_title">
        <p>Liste de mes groupes</p>
    </div>


    <div>
        
        <% if(length) { %>
        
            <% groups.forEach(function(group) { %>
        
                <% group.rights.rights.forEach(function(right) { %>
                    
                    <% if(right.pseudo === user.pseudo) { %>
        
                        <a href="/home/group?group=<%=group.name%>" class="group_link">Aller sur la page <%=group.name%></a>
                    <% } %>
                <% }); %>
            <% }); %>
        
        <%}%>

    </div>
</div>

<br><br>


<div class="workout_rpe_box">
    <div class="workout_day_title">
        <p>État de forme</p>
    </div>
    
    <div>
        <% if(old){ %>
        
            <% if(seance){ %>
                <form action="/home/afterWorkout" method="POST">
            
                    <select name="rpe" class="selectPageRPE">
                
                        <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                            <% if(userData.workout.seances[i].done === true && userData.workout.seances[i].difficulty === null){ %>
                                <option value="<%= i %>" name=""> <%= userData.workout.seances[i].name %> </option>
                            <% } %>  
                        <% } %>
    
                    </select>
    
                    <h3 id="See_intensity" class="intensity_title little_title" onclick="intensity_div()">Difficulté de la séance</h3>
    
                    <div class="table_intensity_content wrap move_table" id="table_intensity_content">
                        
                        <%- include('../training/intensityTable.ejs') %>
    
                    </div>
    
                    <br><br>
    
                    <div class="home_difficulty">
                        
                        <% for(var i=0; i < 10; i++) { %>
                            <input type="radio" name="difficulty" class="dif" id="d<%=i%>" value="<%=i%>" required>
                            <label for="d<%=i%>"><%=i%></label>
                        <% } %>
                        
                        </div>
                            
                    <br><br>
    
                    <div class="training_note" align=center>
                        <textarea name="note" cols="30" rows="10"></textarea>
                    </div>
    
                    <br>
                    <button class="home_value_button">Valider</button>
                </form>          
            <% } else {%>
                <p class="not_workout">Terminez vos entrainements avant !</p>
            <% } %>

        <% } else { %> 
            <p class="not_workout">Pas encore d'entrainements ?</p>
        <% } %>
    </div>
    <br>
    
</div>


<br><br>


<div class="workout_day_box">

    <div class="workout_meal_title">
        <p>Compter les calories</p>
    </div>

    <div class="workout_meal_calories">
        <form action="/home/homeAddCal" method="POST">
            <div class="count_calorie_box">
                <input type="tel" name="calories" class="count_calorie" maxlength="5" placeholder="Calories" pattern="[0-9]{1-5}">
                <button class="home_ok_count_calorie">Ajouter</button>
                <form action="/home/homeResetCal" method="POST">
                    <button class="home_reset_count_calorie" formaction="homeResetCal">Mettre à 0</button>
                </form>    
            </div>
    
            <p class="result_count_calorie"><%= userData.health.calories %> kcal</p>
    
        <br>
    
        </form>      
    
    </div>
    
</div>


<br><br>


<div class="evolution_home_box">

    <div class="workout_day_title">
        <p>Évolution</p>
    </div>

    <div>
        <% let last = userData.health.height.length - 1%>
        <% if(userBody){ %>
            <% let imc = userData.health.body[last]/((userData.health.height[last]/100)*(userData.health.height[last]/100))%>
            <p class="test" style="text-align: center;">Poids <%=userData.health.body[last]%>kg et taille <%= (userData.health.height[last])/100 %>m. Votre IMC: <%= (Math.round(imc*10))/10 %></p>
        <% } else{ %> 
            <p class="not_workout">Entrez vos données !</p> 
        <% } %>

    </div>

</div>


<br><br>


<div class="documentation_home_box">

    <div class="documentation_day_title">
        <p>Documentation</p>
    </div>

    <div>
     
        <p  style="text-align: center;"><a href="https://conseilsport.decathlon.fr/conseils-sport" target="_blank">Vers décathlon sport</a></p>

    </div>

</div>

<br>