<br>

<div class="workout_day_box">

    <div class="workout_day_title">
        <p>Programme du  jour</p>
    </div>

        <table>
            <%if(old){ %>
                <% var j = 0 %>
                <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                    <% j = j + 1 %>
                    <tr>  
                        <td class="link_seance_box"><a href="/workout/seance?id=<%=j%>&page=home" class="link_seance"><%= userData.workout.seances[i].date %>: <%= userData.workout.seances[i].name %></a></td>
                    </tr>
                 <% } %>
            <% } else{ %> 
                <p class="not_workout">Pas encore d'entrainement ? Viens d'entrainer !</p> 
            <% } %>
                
        </table>
</div>


<br><br>


<div class="workout_rpe_box">
    <div class="workout_day_title">
        <p>État de forme</p>
    </div>
    
    <div>
        <% if(old){ %>
            <br>
            <form action="afterWorkout" method="POST">

                <div class="select_home_box">
                    <select name="rpe" class="select_home_page">
                
                        <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                            <% if(userData.workout.seances[i].done === true){ %>
                                <option value="<%= i %>" name=""> <%= userData.workout.seances[i].name %> </option>
                            <% } %>  
                        <% } %>

                    </select>
                </div>
                

                <div class="table_intensity_content wrap" id="table_intensity_content">
                    
                    <%- include('../training/intensityTable.ejs') %>

                </div>

                <br><br>

                <div class="home_difficulty">
                    
                    <% for(var i=0; i < 10; i++) { %>
                        <input type="radio" name="difficulty" class="dif" id="d<%=i%>" value="<%=i%>" required>
                        <label for="d<%=i%>"><%=i%></label>
                    <% } %>
                    
                    </div>

                <br><br>
                <button class="value_home_button">Valider</button>
            </form>          
        <% } else{ %> 
            <p class="not_workout">Pas encore d'entrainements ? Viens t'entrainer !</p>
        <% } %>
    </div>
    <br>
    
</div>

<br>


<br>

<div class="workout_day_box">

    <div class="workout_meal_title">
        <p>Compter les calories</p>
    </div>

    <div class="workout_meal_calories">
        <form action="/home/homeAddCal" method="POST">
            <div class="count_calorie_box">
                <input type="tel" name="calories" class="count_calorie" maxlength="5" placeholder="Calories" pattern="[0-9]{1-5}">
                <button class="home_ok_count_calorie">Ajouter</button>
                <form action="/home/homeResetCal" method="POST">
                    <button class="home_reset_count_calorie" formaction="homeResetCal">Mettre à 0</button>
                </form>    
            </div>
    
            <p class="result_count_calorie"><%= userData.health.calories %> kcal</p>
    
        <br>
    
        </form>      
    
    </div>
    
</div>


<br><br>


<div class="evolution_home_box">

    <div class="workout_day_title">
        <p>Évolution</p>
    </div>

    <div>
        <% if(userBody){ %>
            <table>   
                <% let len = userData.health.height.length - 1 %>
                <% for(var i=0; i < userData.health.height.length; i++) { %>
                    <% let imc = userData.health.body[i]/((userData.health.height[i]/100)*(userData.health.height[i]/100))%>
                        <tr>
                            <td class="test">Poids <%=userData.health.body[i]%> et taille <%= (userData.health.height[i])/100 %></td>
                            <td>Votre IMC: <%= (Math.round(imc*10))/10 %></td>
                        </tr>
                <% } %>
            </table>
        <% } else{ %> 
            <p class="not_workout">Entrez vos données !</p> 
        <% } %>

    </div>

</div>

<br>