<!-- Charge prévu, série, répétitions, pause, tricet, difficulté, description, distance, interval, 
temps, départ, arrivé-->
<% var t = Object.keys(userData.templates) %>
<% for (var l=0; l < t.length; l++) { %>
    <div id="<%=Object.keys(userData.templates)[l]%>">
        <% for (var m=0; m < userData.templates[t[l]].fields.length; m++) { %>
            
            <% if (userData.templates[t[l]].fields[m] == 'exercices') { %>
                <select name="exercices" style="background-color: black;" id="<%=Object.keys(userData.templates)[l]%>Exercice" class="field exerciceSelect" >
                    <optgroup label="Haut du corps">
                        <% for (var z=0; z < exercices.Up.length; z++) { %>
                            <option value="<%=exercices.Up[z]%>"><%=exercices.Up[z]%></option>
                        <% } %>
                    </optgroup>

                    <optgroup label="Bas du corps">
                        <% for (var z=0; z < exercices.Down.length; z++) { %>
                            <option value="<%=exercices.Down[z]%>"><%=exercices.Down[z]%></option>
                        <% } %>
                    </optgroup>

                    <optgroup label="Abdos">
                        <% for (var z=0; z < exercices.Abs.length; z++) { %>
                            <option value="<%=exercices.Abs[z]%>"><%=exercices.Abs[z]%></option>
                        <% } %>
                    </optgroup>

                    <optgroup label="Cardio">
                        <% for (var z=0; z < exercices.Cardio.length; z++) { %>
                            <option value="<%=exercices.Cardio[z]%>"><%=exercices.Cardio[z]%></option>
                        <% } %>
                    </optgroup>

                    <optgroup label="Etirement">
                        <% for (var z=0; z < exercices.Stretch.length; z++) { %>
                            <option value="<%=exercices.Stretch[z]%>"><%=exercices.Stretch[z]%></option>
                        <% } %>
                    </optgroup>

                </select>
            <% } %>
    
            <% if (userData.templates[t[l]].fields[m] == 'repetition') { %>
                <input type="number" name="repetition" placeholder="Répétition" class="field numberSelect" id="<%=Object.keys(userData.templates)[l]%>Repetition" min="1" required>
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'serie') { %>
                <input type="number" name="serie" placeholder="Série" class="field numberSelect" id="<%=Object.keys(userData.templates)[l]%>Serie" min="1" required>
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'pause') { %>
                <input type="number" name="pause" placeholder="Pause (sec)" class="field numberSelect" id="<%=Object.keys(userData.templates)[l]%>Pause" min="0" required>
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'charge') { %>
                <input type="number" name="charge" placeholder="Charge (kg)" class="field numberSelect" id="<%=Object.keys(userData.templates)[l]%>Charge" min="0" required>
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'time') { %>
                <input type="number" name="time" placeholder="Time" class="field numberSelect" id="<%=Object.keys(userData.templates)[l]%>Time" min="0" required>
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'distance') { %>
                <input type="number" name="distance" placeholder="Distance (m)" class="field" id="<%=Object.keys(userData.templates)[l]%>Distance" required>
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'duration') { %>
                <input type="number" name="duration" placeholder="Durée" class="field" id="<%=Object.keys(userData.templates)[l]%>Duration" required>
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'start') { %>
                <input type="text" name="start" placeholder="Départ" class="field" id="<%=Object.keys(userData.templates)[l]%>Start" required>
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'arrival') { %>
                <input type="text" name="arrival" placeholder="Arrivée" class="field" id="<%=Object.keys(userData.templates)[l]%>Arrival" required>
            <% } %>

        <% } %>

        <textarea name="description" cols="30" rows="10" class="description" id="<%=Object.keys(userData.templates)[l]%>Description"></textarea>
    </div>
<% } %>
<div class="addJob_box">
    <input type="submit" value="Valider" class="addJob">
</div>
