<br> 

<div class="workout_day_box workout_top">


    <div class="workout_day_title">
        <p>Planification des entrainements</p>
    </div>

    <div class="button_container_workout" style="height:70px;">
        <button onclick="closeCreateDiv()" id="btnDraggable" class="buttonWorkout">Créer sa séance</button>

        <div id="wrapper" class="move_div wrapper newWorkout">
            <%- include('../training/newWorkout.ejs') %>
        </div>

        <% if(old && dataExercice){ %>

            <form action="/workout/planWorkout" method="POST" id="planWorkout" style="height: 100%;" >

                <select name="idPage" class="selectPage">
            
                    <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                        <% if (userData.workout.seances[i].done === false) { %>
                            <option class="o" value="<%= i %>" name="supprimer"> <%= userData.workout.seances[i].name %> </option>
                        <% } %>
                    <% } %>

                </select>

            </form>

            <button class="planButton" form="planWorkout">Compléter sa séance</button>

        <% } %> 

    </div>
</div>




<br><br>

<div class="workout_div">
    <div class="workout_yes">

        <div class="table_intensity_content move_table" id="table_intensity_content">
                            
            <%- include('../training/intensityTable.ejs') %>

        </div>

        <div class="workout_day_title">
            <p>État de forme</p>
        </div>

        <div>

            <% if(old){ %>

                <% if(seance){ %>
                    <form action="afterWorkout" method="POST">
                
                        <select name="rpe" class="selectPageRPE">
                    
                            <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                                <% if(userData.workout.seances[i].done === true && userData.workout.seances[i].difficulty === nu ll){ %>
                                    <option value="<%= i %>"> <%= userData.workout.seances[i].name %> </option>
                                <% } %>  
                            <% } %>
        
                        </select>
        
                        <h3 id="See_intensity" class="intensity_title little_title" onclick="intensity_div()">Difficulté de la séance</h3>
        
                        <br><br>
        
                        <div class="home_difficulty">
                            
                            <% for(var i=0; i < 10; i++) { %>
                                <input type="radio" name="difficulty" class="dif" id="d<%=i%>" value="<%=i%>" required>
                                <label for="d<%=i%>"><%=i%></label>
                            <% } %>
                            
                            </div>
                                
                        <br><br>
        
                        <div class="training_note" align=center>
                            <textarea name="note" cols="30" rows="10"></textarea>
                        </div>
        
                        <br>
                        <button class="home_value_button">Valider</button>
                    </form>          
                <% } else {%>
                    <p style="text-align: center;">Terminez vos entrainements avant !</p>
                <% } %>

            <% } else { %> 
                <p style="text-align: center;">Pas encore d'entrainements ?</p>
            <% } %>
        </div>
    </div>

    <div class="workout_no">
        <div class="workout_day_title">
            <p>Séance à venir</p>
        </div>

        <div>
            <%if(old){ %>
                <ul class="list_home">
                <% var j = 0 %>
                <% var compteur = 1 %>

                <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                    <% j = j + 1 %>

                    <% if(userData.workout.seances[i].done === false) { %>
                        <li><a href="/workout/seance?id=<%=j%>&page=training" class="link_seance"><%= compteur %>: <%= userData.workout.seances[i].name %></a></li>
                        <% compteur = compteur + 1 %>
                    <% } %>  
                        
                <% } %>
                </ul>
            <% } else{ %> 
                <p class="not_workout">Pas encore d'entrainement ? Viens t'entrainer !</p> 
            <% } %>
        </div>
    </div>

</div>
    
<br><br>

<div class="workout_day_box">


    <div class="workout_day_title">
        <p>Gestion des templates</p>
    </div>

    <div class="" style="margin-top: 15px; margin-bottom: 15px;">
        <a href="/template/newTemplates" class="linkTemplate">Ajouter des templates</a>

    </div>
</div>

<br><br>

<div class="workout_day_box">

    <div class="workout_day_title">
        <p>Évolution</p>
    </div>

    <div class="container_button_workout row evolution_content" style="margin-top: 15px; margin-bottom: 15px;">

        <div class="setIMC_content"> 
            <% let last = userData.health.height.length - 1%>
                <% if(userBody){ %>
                    <% let imc = userData.health.body[last]/((userData.health.height[last]/100)*(userData.health.height[last]/100))%>
                    <p class="imc">Poids <%=userData.health.body[last]%>kg et taille <%= (userData.health.height[last])/100 %>m. Votre IMC: <%= (Math.round(imc*10))/10 %></p>
                <% } %> 
    
                <div class="set_imc_box">
                    <form action="/workout/setIMC" method="POST">    
        
                        <input type="number" max="500" value="<%=userData.health.body[last]%>" min="30" name="body" id="mass">
                        <label for="mass">kg</label><br>
            
                        <input type="number" max="250" value="<%=userData.health.height[last]%>" min="60" name="height" id="height">
                        <label for="height">cm</label><br>
            
                        <button class="button_add_imc">Valider</button>
            
                    </form>
                </div>
        </div>

        <div class="all_seance_box">
            <% if(old){ %>
                <a href="/workout/allSeances" class="link_all_seance">Voir les séances passées</a>
            <% } %> 
                

            <% if(userBody) { %>

                <table>
                    <% for(var i=0; i < userData.health.body.length; i++) { %>
                        <tr>
                            <td class="exerciceDelete"><%= userData.health.body[i] %>kg pour <%= userData.health.height[i] %><a href="/workout/deleteIMC?id=<%=i%>"><i name="test" class="fa-solid fa-trash-can trash"></i></a></td>
                        </tr>
                    <% } %>
                </table>

            <% } %>
        </div>
    </div>
    
</div>
    
<br><br>

<div class="workout_day_box">

    <div class="workout_day_title">
        <p>Documentation</p>
    </div>

    <div class="container_button_workout row" style="margin-top: 15px; margin-bottom: 15px;">

    </div>
</div>

<br>







