<div class="">
    <div class="leftJob">

        <form action="/workout/addSeance" method="post"><br>

            <div class="select-box">

                <select name="exercice" class="selectExerciceJob">
                    <% for(var j=0; j < exercices.length; j++) { %>
                        <option value="<%=exercices[j].name%>" name="category" id="<%=exercices[j]%>"><%=exercices[j].name%></option>
                    <% } %>
                </select>
        
            </div>
        
            <div class="content_precision">
                <div class="exPart1">
                    Nombre de répétition:
                    <input type="number" name="repetition" id="" min="1" max="50" value="1" required><br><br>
        
                    Nombre de série:
                    <input type="number" name="serie" id="" min="1" max="10" value="1" required><br>
                </div>
        
                <div class="exPart2">
                    Repos:
        
                    <input type="number" name="repos" id="" min="0" value="30" required> Seconde
                    <br><br>
                </div>  
            </div>

            <input type="submit" value="Ajouter" class="addJob">
            
        </form>
    </div>

    <div class="rightJob"><br>
        <table class="tableJob">

            <tr>
                <th>Exercice</th>
                <th>Répétitions</th>
                <th>Séries</th> 
                <th>Repos</th>
            </tr>

            <% for(var j=0; j < userData.workout.seances[id].jobs.length; j++) { %>
                <% var a = userData.workout.seances[id].jobs[j] %>

                <tr>
                    <td class="exerciceJob"><%= a.exercice %></td>
                    <td class="exerciceJob"><%= a.repetitions %></td>
                    <td class="exerciceJob"><%= a.series %></td>
                    <td class="exerciceJob"><%= a.pause %> sec</td>
                    <td class="exerciceDelete"><a href="/workout/deleteJob?job=<%=j%>"><i name="test" class="fa-solid fa-trash-can trash"></i></a></td>
                </tr>

            <% } %>

        </table>
        <br>
    </div>

</div>
