<br><br><a href="/workout/training" style="margin-left: 5px;"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>

<h1 class="title_workout">Modifier entrainement</h1>

    <div class="intro_workout">
        <input type="text" name="training_name" placeholder="Nouveau nom de la séance" value="<%=userData.workout.seances[id].name%>" class="training_name" required>
        <input type="date" name="date" id="date" class="" value="<%=userData.workout.seances[id].date%>">
        
        <br><br>
    </div><br><br>
   

    <form action="/workout/deleteWorkout" method="post">
        <button class="exercice_delete">Supprimer la séance</button>
    </form>


<hr><br>
<form action="/workout/addSeance" method="POST">
    <select name="exercice" class="selectExerciceJob" id="selectExerciceJob" onclick="exerciceType()">
        <% for(var j=0; j < exercices.length; j++) { %>
            <option value="<%=exercices[j].name%>" name="category" id="<%=exercices[j].type%>"><%=exercices[j].name%></option>
        <% } %>
    </select><br>

    <div class="rightJob"><br>
        <table class="tableJob">

            <tr>
                <th>Exercice</th>
                <th>Répétitions</th>
                <th>Séries</th> 
                <th>Repos</th>
            </tr>

            <% for(var j=0; j < userData.workout.seances[id].jobs.length; j++) { %>
                <% var a = userData.workout.seances[id].jobs[j] %>

                <tr>

                    <% if (a.type === 'musculation') { %>
                        <td class="exerciceJob"><%= a.exercice %></td>
                        <td class="exerciceJob"><%= a.repetitions %></td>
                        <td class="exerciceJob"><%= a.series %></td>
                        <td class="exerciceJob"><%= a.pause %> sec</td>
                    <% } %>

                    <% if (a.type === 'footing') { %>
                        <td class="exerciceJob"><%= a.start %></td>
                        <td class="exerciceJob"><%= a.arrival %></td>
                        <td class="exerciceJob"><%= a.bounds %></td>
                        <td class="exerciceJob"><%= a.time %></td>
                    <% } %>

                    <% if (a.type === 'intensity') { %>
                        <td class="exerciceJob"><%= a.bloc %></td>
                        <td class="exerciceJob"><%= a.distance %></td>
                        <td class="exerciceJob"><%= a.pause %></td>
                        <td class="exerciceJob"><%= a.time %></td>
                    <% } %>

                    <td class="exerciceDelete"><a href="/workout/deleteJob?job=<%=j%>"><i name="test" class="fa-solid fa-trash-can trash"></i></a></td>
                </tr>

            <% } %>

        </table>
        <br>
    </div>

    <div class="musculation_content">
        <%- include('../training/musculation.ejs') %>
    </div>
    
    <div class="running_content">
        <%- include('../training/running.ejs') %>
    </div>
    
    <div class="intensity_content">
        <%- include('../training/intensity.ejs') %>
    </div>
    
    <div class="other_content">
        <%- include('../training/other.ejs') %>
    </div>
    
    
    
</form>



