<div class="top_content"><br><br>
    <a href="/workout/training" style="margin-left: 10px; margin-top:40px; color: white; text-align: left; width: 2%;" ><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>
    <h1 class="seance_name" style="width: 98%; margin-right: 2%;"><%= userData.workout.seances[id].name %></h1><br>
</div>

<br><br>

<% if(template) { %>
    <form action="/workout/addSeance" method="POST" >
        <select name="template" class="selectExerciceJob" id="selectExerciceJob" onchange="test()">
            <% var a = Object.keys(userData.templates) %>
            <% for(var j=0; j < a.length; j++) { %>
                <option value="<%=a[j]%>"><%=a[j]%></option>
            <% } %>
        </select><br>
    
           
            <br>
        
        <div class="training_content">
            <%- include('../training/formTraining.ejs') %>
        </div>
    </form> 

    <table class="tableSeanceJob">
    
        <% for(var j=0; j < userData.workout.seances[id].jobs.length; j++) { %>
            <% var a = userData.workout.seances[id].jobs[j] %>

            <tr>
                <td><%= a.exercice %></td>
                <td>Répétitions: <%= a.repetitions %></td>
                <td>Séries: <%= a.series %></td>
                <td>Pause: <%= a.pause %>sec</td>
                <td class="exerciceDelete"><a href="/workout/deleteJob?job=<%=j%>"><i name="test" class="fa-solid fa-trash-can trash"></i></a></td>
            </tr>

        <% } %>

    </table>

<% } else { %>
    <p style="text-align: center; font-size: 1.2rem;">Vous n'avez aucun template, créez vous en.</p>
<% } %>




