<br><br><a href="/workout/training" style="margin-left: 5px;"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>

<h1 class="title_workout">Modifier entrainement</h1>

    <div class="intro_workout">
        <input type="text" name="training_name" placeholder="Nouveau nom de la séance" value="<%=userData.workout.seances[id].name%>" class="training_name" required>
        <input type="date" name="date" id="date" class="" value="<%=userData.workout.seances[id].date%>">
        
        <br><br>
    </div><br><br>
   

    <form action="/workout/deleteWorkout" method="post">
        <button class="exercice_delete">Supprimer la séance</button>
    </form>

    <a href="/template/newTemplates">Nouveau templates</a>


<hr><br>

<% if(template) { %>
    <form action="/workout/addSeance" method="POST">
        <select name="template" class="selectExerciceJob" id="selectExerciceJob" onclick="test()" onload="test()">
            <% var a = Object.keys(userData.templates) %>
            <% for(var j=0; j < a.length; j++) { %>
                <option value="<%=a[j]%>"><%=a[j]%></option>
            <% } %>
        </select><br>
    
        <div class="rightJob"><br>
            <table class="tableJob">
    
                <% for(var j=0; j < userData.workout.seances[id].jobs.length; j++) { %>
                    <% var a = userData.workout.seances[id].jobs[j] %>
    
                    <tr>
                        <td><%= userData.workout.seances[id].jobs[j].exercice %></td>
                        <td class="exerciceDelete"><a href="/workout/deleteJob?job=<%=j%>"><i name="test" class="fa-solid fa-trash-can trash"></i></a></td>
                    </tr>
    
                <% } %>
    
            </table>
            <br>
        </div>
        
        <div class="training_content">
            <%- include('../training/formTraining.ejs') %>
        </div>
        
    </form>
<% } %>




