<br><br><a href="/workout/<%=page%>" style="margin-left: 5px"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>
<h1 class="seance_name"><%= userData.workout.seances[id].name %></h1>

<div class="button_seance">
    <% if (userData.workout.seances[id].done === false) { %>
        <a href="/workout/endWorkout?id=<%=id + 1%>&page=<%=page%>" class="end_seance">Séance terminée</a>
    <% } %>
    
    <a href="/workout/deleteWorkout?id=<%=id %>" class="delete_seance">Séance supprimée</a>
</div>




<div class="seance_information">

    <% if (userData.workout.seances[id].date != '') { %>
        <p>Date: <%= userData.workout.seances[id].date %></p>
    <% } %>
    

    <% if (userData.workout.seances[id].done == true) { %>
        <p>Difficulté: <%= userData.workout.seances[id].difficulty %></p>
    <% } %>


    <% if (userData.workout.seances[id].detail != '') { %>
        <p>Détail: <%= userData.workout.seances[id].detail %></p>
    <% } %>

    <table class="tableSeanceJob">
    
        <% for(var j=0; j < userData.workout.seances[id].jobs.length; j++) { %>
            <% var a = userData.workout.seances[id].jobs[j] %>

            <tr>
                <td><%= a.exercice %></td>
                <td>Répétitions: <%= a.repetitions %></td>
                <td>Séries: <%= a.series %></td>
                <td>Pause: <%= a.pause %>sec</td>
            </tr>

        <% } %>

    </table>

</div>
