<br><br><a href="/workout/<%=page%>" style="margin-left: 5px"><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>
<h1 class="seance_name"><%= userData.workout.seances[id].name %></h1>

<% if (userData.workout.seances[id].done === false) { %>
    <a href="/workout/endWorkout?id=<%=id + 1%>&page=<%=page%>" class="end_seance">Séance terminée</a>
<% } %>

<div class="seance_information">

    <p>Date: <%= userData.workout.seances[id].date %></p>
    <p>Fait: <%if(userData.workout.seances[id].done == true) { %>
        <b class="true">Oui</b>
        <% } else { %>
        <b class="false">Non</b>
        <% } %>
    </p>
    <p>Difficulté: <%= userData.workout.seances[id].difficulty %></p>
    <p>Type: <%= userData.workout.seances[id].type %></p>

    <% if (userData.workout.seances[id].detail != '') { %>
        <p>Détail: <%= userData.workout.seances[id].detail %></p>
    <% } %>

</div>


<table class="tableJob">

    <tr>
        <th>Exercice</th>
        <th>Répétitions</th>
        <th>Séries</th>
        <th>Repos</th>
    </tr>

    <% for(var j=0; j < userData.workout.seances[id].jobs.length; j++) { %>
        <% var a = userData.workout.seances[id].jobs[j] %>

        <tr>
            <td class="exerciceJob"><%= a.exercice %></td>
            <td class="exerciceJob"><%= a.repetitions %></td>
            <td class="exerciceJob"><%= a.series %></td>
            <td class="exerciceJob"><%= a.pause %> sec</td>
        </tr>

    <% } %>

</table>