
<div class="top_content"><br><br>
    <a href="/workout/<%=page%>" style="margin-left: 10px; margin-top:40px; color: white; text-align: left; width: 2%;" ><i class="fa-solid fa-arrow-left-long fa-2xl"></i></a>
    <h1 class="seance_name" style="width: 98%; margin-right: 2%;"><%= userData.workout.seances[id].name %></h1><br>
</div>

<br><br>


<div class="button_seance">
    <% if (userData.workout.seances[id].done === false) { %>
        <a href="/workout/endWorkout?id=<%=id%>&page=<%=page%>" class="end_seance">Séance terminée</a>
    <% } %>
    
    <a href="/workout/deleteWorkout?id=<%=id%>&page=<%=page%>" class="delete_seance">Séance supprimée</a>
</div>


<a href="/workout/changeWorkout?id=<%=id%>&page=<%=page%>">Modifier la séance</a>

<div class="seance_information">

    <% if (userData.workout.seances[id].date != '') { %>
        <p>Date: <%= userData.workout.seances[id].date %></p>
    <% } %>
    

    <% if (userData.workout.seances[id].done == true && userData.workout.seances[id].difficulty != null) { %>
        <p>Difficulté: <%= userData.workout.seances[id].difficulty %></p>
    <% } %>

    <% if (userData.workout.seances[id].detail != '') { %>
        <p>Détail: <%= userData.workout.seances[id].detail %></p>
    <% } %>

    <table class="tableSeanceJob">
    
        <% for(var j=0; j < userData.workout.seances[id].jobs.length; j++) { %>
            <% var a = userData.workout.seances[id].jobs[j] %>

            <tr style="border-top: 2px solid black;">
                <% if (a.exercice != '' && a.exercice != undefined) { %>
                    <td><%= a.exercice %></td>
                <% } %>

                <% if (a.repetitions != '' && a.repetitions != undefined) { %>
                    <td>Répétitions: <%= a.repetitions %></td>
                <% } %>

                <% if (a.series != '' && a.series != undefined) { %>
                    <td>Séries: <%= a.series %></td>
                <% } %>

                <% if (a.pause != '' && a.pause != undefined) { %>
                    <td>Pause: <%= a.pause %>sec</td>
                <% } %>

                <% if (a.weight != '' && a.weight != undefined) { %>
                    <td>Charge: <%= a.weight %>kg</td>
                <% } %>

                <% if (a.distance != '' && a.distance != undefined) { %>
                    <td>Distance: <%= a.distance %>km</td>
                <% } %>

                <% if (a.duration != '' && a.duration != undefined) { %>
                    <td>Durée: <%= a.duration %></td>
                <% } %>

                <% if (a.time != '' && a.time != undefined) { %>
                    <td>Temps: <%= a.time %></td>
                <% } %>

                <% if (a.start != '' && a.start != undefined) { %>
                    <td>Départ: <%= a.start %></td>
                <% } %>

                <% if (a.arrival != '' && a.arrival != undefined) { %>
                    <td>Arrivée: <%= a.arrival %></td>
                <% } %>
               
            </tr>


            <% if (a.description != '' && a.description != undefined) { %>
            <tr style="border-bottom: 2px solid black;">
                <td><%= a.description %></td>
            </tr>
            <% } %>


        <% } %>
        
        <% if (userData.workout.seances[id].note != null && userData.workout.seances[id].note != '') { %>
            <p>Note après séance: <%= userData.workout.seances[id].note %></p>
        <% } %>

    </table>

</div>
